<h1> Hello </h1>

<form action="/users/logout" method="post">
  <input type='submit' value='Sign out' name='signout'>
</form>

<table>
    <thead>
        <td>name</td>
        <td>description</td>
        <td>price</td>
    </thead>
    <tbody>
        <% spaces.forEach(function(space) { %>
            <tr>
                <td>
                    <%=space.name%>
                </td>
                <td>
                    <%=space.description%>
                </td>
                <td>£
                    <%=space.price%>
                </td>
            </tr>
            <% }); %>
    </tbody>
</table>
