<!doctype html>
<html>
<head>
    <title>Add New Space</title>
</head>
<body>
    <div>
        <h1>Add new Space</h1>
        <form action='/spaces/addspace' method='post' id='addSpaceForm'>
            <label for='name'>
                Name:
                <input name='name' type='text'>
            </label>
            <label for='description'>
                Description:
                <input name='description' type='text'>
            </label>
            <label for='price'>
                Price:
                <input name='price' type='text'>
            </label>
            <input type='submit' value='Add Space' name='addspace'>
        </form>
    </div>
</body>
</html>
